[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-decouple = "*"
pathlib = "*"
dj-database-url = "*"
unipath = "*"
djangorestframework = "*"
django-cors-headers = "*"
graphene-django = "*"
gunicorn = "*"
django-heroku = "*"
postgres = "*"
pytz = "*"
whitenoise = "*"
graphene = "*"
channels = "*"
service-identity = "*"
asyncio = "*"
websockets = "*"

[requires]
python_version = "3.7"
